body{
    font-family: 'Battambang', cursive;
}
.card-block{
    padding: 20px !important;
}

.head-card{
    margin-top: 20px;
}
.mb-5, .my-5 {

    margin-bottom: 0 !important;

}
.page-footer{
    margin-top: 20px !important;
}
